apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: environment
  labels:
    {{- include "environment.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "-2"
spec:
  provider:
    kubernetes:
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          namespace: kube-system
          key: ca.crt
      auth:
        serviceAccount:
          name: external-secrets
          namespace: external-secrets
      remoteNamespace: {{ .Release.Namespace }}
  conditions:
    - namespaces:
        - "{{ .Release.Namespace }}"
